.contact-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-auto-rows: 1fr;
}

.clickable {
	color: var(--primary-color);
	font-size: 1.5rem;
	padding-right: 10px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--primary-color);
	width: min-content;
	margin-bottom: 20px;

	p {
		margin: 0 0 0 10px;
	}
}

.contact-card p {
	margin-bottom: 10px;
}
