footer {
	margin-top: 200px;
	transition: background-color 5s;

	p {
		cursor: pointer;
		font-size: 3rem;
		font-family: var(--alt-text-font-family);
		text-align: center;
	}

	&.anim-on-scroll.animate {
		background-color: var(--primary-color);
	}
}
