footer {
	background-color: var(--primary-color);
	min-height: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	p {
		cursor: pointer;
		font-size: 3rem;
		font-family: var(--alt-text-font-family);
		text-align: center;
		color: var(--fg-color);
	}

	code {
		position: absolute;
		bottom: 0;
		align-self: center;
	}
}
