html {
  --text-font-family: "Inter";
  --alt-text-font-family: "Share Tech Mono";
  --nav-height: 3.2rem;
  --default-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  --gradient-bg: linear-gradient(
		90deg,
		var(--primary-color),
		var(--accent-color)
	);
}

html[data-theme="light"] {
  --bg-color: #eeeeee;
  --alt-bg-color: #e0e0e0;
  --card-bg-color: #f5f5f5;
  --fg-color: #1a1a1a;
  --alt-fg-color: #202020a6;
  --faded-fg-color: #2020206e;
  --faded-alt-fg-color: #ffffff79;
  --primary-color: #0ce49f;
  --accent-color: #70bfff;
}

html[data-theme="dark"] {
  --bg-color: #252525;
  --alt-bg-color: #202020;
  --card-bg-color: #181818;
  --fg-color: #ebebeb;
  --alt-fg-color: #ebebebbd;
  --faded-fg-color: #ebebeb79;
  --faded-alt-fg-color: #0000006c;
  --primary-color: #0eb17d;
  --accent-color: #519bd8;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--text-font-family);
  font-weight: 500;
}

section {
  padding: 50px 10%;
  min-height: 100vh;
  width: 100%;
  z-index: -10;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(0, 1500px);
  justify-content: center;
  justify-items: center;
  background-color: var(--bg-color);
}

section:nth-child(even) {
  background-color: var(--alt-bg-color);
}

section:last-of-type {
  padding-bottom: 200px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2.2rem;
  margin: 0;
}

h2 {
  align-self: flex-start;
  margin-left: 40px;
}

code {
  text-align: center;
  font-family: var(--alt-text-font-family);
  color: var(--faded-fg-color);
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  margin: 1rem;
}

code::before {
  content: "_:";
}

*[onclick] {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  position: fixed;
  right: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.small-card {
  border-radius: 30px;
  transition: 0.5s;
  position: relative;
  padding: 30px 40px;
  margin: 20px;
  background-color: var(--card-bg-color);
}

.small-card,
.small-card .hidden-card:hover {
  box-shadow: --default-shadow;
  background-color: var(--card-bg-color);
}

.selector {
  background-color: var(--faded-alt-fg-color);
  height: 100%;
  padding-right: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  transition: left 0.25s ease-out;
}

.selector-active {
  left: 50%;
}

.glider-wrapper {
  position: relative;
  background-color: #00000017;
  aspect-ratio: 16/9;
}

.glider-slide {
  display: flex;
}

.glider-slide img {
  object-fit: contain;
  height: 100%;
}

.draggable {
  overflow: hidden;
  height: 100%;
}

.glider-track {
  height: 100%;
}

.glider-l-arrow,
.glider-r-arrow {
  position: absolute;
  background-color: var(--faded-fg-color);
  color: var(--bg-color);
  padding: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-style: hidden;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin: 2px;
}

.glider-l-arrow:hover,
.glider-r-arrow:hover {
  background-color: var(--alt-fg-color);
}

.glider-l-arrow:active,
.glider-r-arrow:active {
  background-color: var(--fg-color);
}

.glider-l-arrow {
  left: 0;
}

.glider-r-arrow {
  right: 0;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  top: 0;
}

nav li {
  flex-basis: 5;
}

nav li:first-child {
  flex-basis: 1;
}

nav a {
  text-decoration: none;
  color: var(--alt-fg-color);
  font-weight: bold;
}

nav div {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

#nav-bg-0 {
  background-image: var(--gradient-bg);
}

#nav-bg-1 {
  background-color: var(--alt-bg-color);
}

#nav-bg-2 {
  background-color: var(--bg-color);
}

header {
  padding-top: var(--nav-height);
  background-image: var(--gradient-bg);
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  position: relative;
  overflow-x: hidden;
}

header h1 {
  color: var(--fg-color);
  font-size: 3.5rem;
  font-weight: bolder;
}

header p {
  color: var(--alt-fg-color);
  font-size: 1.8rem;
}

header img {
  position: absolute;
  bottom: 0;
  object-fit: contain;
  height: 60%;
  z-index: -10;
  opacity: 30%;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

#data-theme-controls {
  background-color: var(--faded-alt-fg-color);
  width: min-content;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: relative;
}

#data-theme-controls i {
  font-size: 1.3rem;
  margin: 8px;
  z-index: 10;
  color: var(--fg-color);
}

#data-theme-controls i:first-of-type {
  margin-right: 25px;
}

.bio-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.bio-img {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
}

.bio-img img {
  width: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: url(#bio-img-blob);
}

.bio-img svg {
  width: 100%;
  height: 400px;
  transform: translateY(126px);
}

.bio-img path {
  fill: var(--primary-color);
}

.bio-img clipPath {
  transform: scale(392%) translate(-12px, 2px);
}

.text {
  text-align: justify;
  text-indent: 30px;
  font-size: 1.2rem;
}

.bio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  flex: 2 0 650px;
}

.skills-wrapper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-wrapper svg {
  width: 140px;
  height: 140px;
  transform-origin: center;
  transform: rotate(-90deg);
}

.circle-progress {
  transform: scale(1.4);
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 8;
  stroke-linecap: round;
  animation: progress-anim 2s ease-in-out forwards;
}

@keyframes progress-anim {
  from {
    stroke-dashoffset: -251;
  }
}

.skill-progress {
  display: flex;
  margin: 30px 10px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skill-progress .svg-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--accent-color);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.soft-skill-icon {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.soft-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 1.2rem;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 50px;
  box-shadow: var(--default-shadow);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.project-card p {
  margin: 0 40px 30px 40px;
  text-align: justify;
  line-height: 1.5rem;
  text-indent: 2rem;
}

.project-card p:first-of-type {
  margin-top: 40px;
}

.project-card .carousel {
  height: 100%;
  max-height: 400px;
}

footer {
  background-color: var(--primary-color);
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

footer p {
  cursor: pointer;
  font-size: 3rem;
  font-family: var(--alt-text-font-family);
  text-align: center;
  color: var(--fg-color);
}

footer code {
  position: absolute;
  bottom: 0;
  align-self: center;
}
/*# sourceMappingURL=stylesheet.css.map */